@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

:root{
  overflow-x: hidden;
}

h1{
  font-family: 'Quicksand', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  font-family:'Jura', sans-serif;
  color: #222;
}

nav{
  background-color: transparent;
  color: #222;
  padding: 1rem;
}

nav ul li{
  border: 1px solid teal;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: inline-block;
  transition: background-color 0.3s ease;
}

nav ul li:hover{
  background-color: rgba(244, 159, 159, 0.363);
  border-color: rgb(89, 89, 6);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-right {
  animation: fadeInRight 0.6s ease both;
}